In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("/home/ubuntu/Downloads/movies.csv")

In [3]:
df

,index,movie_name,year_of_release,category,run_time,genre,imdb_rating,votes,gross_total
0,1.0,The Godfather,(1972),R,175 min,"Crime, Drama",9.2,"1,860,471",$134.97M
1,2.0,The Silence of the Lambs,(1991),R,118 min,"Crime, Drama, Thriller",8.6,"1,435,344",$130.74M
2,3.0,Star Wars: Episode V - The Empire Strikes Back,(1980),PG,124 min,"Action, Adventure, Fantasy",8.7,"1,294,805",$290.48M
3,4.0,The Shawshank Redemption,(1994),R,142 min,Drama,9.3,"2,683,302",$28.34M
4,5.0,The Shining,(1980),R,146 min,"Drama, Horror",8.4,"1,025,560",$44.02M
...,...,...,...,...,...,...,...,...,...
94,95.0,The Usual Suspects,(1995),R,106 min,"Crime, Drama, Mystery",8.5,"1,087,832",$23.34M
95,96.0,Cool Hand Luke,(1967),GP,127 min,"Crime, Drama",8.1,"178,888",$16.22M
96,97.0,Eternal Sunshine of the Spotless Mind,(2004),R,108 min,"Drama, Romance, Sci-Fi",8.3,"1,011,004",$34.40M
97,98.0,City Lights,(1931),G,87 min,"Comedy, Drama, Romance",8.5,"186,059",$0.02M
98,99.0,The Matrix,(1999),R,136 min,"Action, Sci-Fi",8.7,"1,916,083",$171.48M

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   index            99 non-null     float64
 1   movie_name       99 non-null     object
 2   year_of_release  99 non-null     object
 3   category         99 non-null     object
 4   run_time         99 non-null     object
 5   genre            99 non-null     object
 6   imdb_rating      99 non-null     float64
 7   votes            99 non-null     object
 8   gross_total      98 non-null     object
dtypes: float64(2), object(7)
memory usage: 7.1+ KB

In [5]:
df.describe()

           index  imdb_rating
count  99.000000    99.000000
mean   50.000000     8.348485
std    28.722813     0.368772
min     1.000000     7.200000
25%    25.500000     8.100000
50%    50.000000     8.300000
75%    74.500000     8.600000
max    99.000000     9.300000

In [6]:
df.to_string()

"    index                                         movie_name year_of_release  category run_time                         genre  imdb_rating      votes gross_total\n0     1.0                                      The Godfather          (1972)         R  175 min                  Crime, Drama          9.2  1,860,471    $134.97M\n1     2.0                           The Silence of the Lambs          (1991)         R  118 min        Crime, Drama, Thriller          8.6  1,435,344    $130.74M\n2     3.0     Star Wars: Episode V - The Empire Strikes Back          (1980)        PG  124 min    Action, Adventure, Fantasy          8.7  1,294,805    $290.48M\n3     4.0                           The Shawshank Redemption          (1994)         R  142 min                         Drama          9.3  2,683,302     $28.34M\n4     5.0                                        The Shining          (1980)         R  146 min                 Drama, Horror          8.4  1,025,560     $44.02M\n5     6.0                                         Casablanca          (1942)        PG  102 min           Drama, Romance, War          8.5    574,092      $1.02M\n6     7.0                    One Flew Over the Cuckoo's Nest          (1975)         R  133 min                         Drama          8.7  1,010,102    $112.00M\n7     8.0      Indiana Jones and the Raiders of the Lost Ark          (1981)        PG  115 min             Action, Adventure          8.4    969,143    $248.16M\n8     9.0      The Lord of the Rings: The Return of the King          (2003)     PG-13  201 min      Action, Adventure, Drama          9.0  1,849,082    $377.85M\n9    10.0                 Star Wars: Episode IV - A New Hope          (1977)        PG  121 min    Action, Adventure, Fantasy          8.6  1,367,430    $322.74M\n10   11.0                                    The Dark Knight          (2008)     PG-13  152 min          Action, Crime, Drama          9.0  2,656,768    $534.86M\n11   12.0                             The Godfather: Part II          (1974)         R  202 min                  Crime, Drama          9.0  1,273,349     $57.30M\n12   13.0                                             Aliens          (1986)         R  137 min     Action, Adventure, Sci-Fi          8.4    720,623     $85.16M\n13   14.0                                   Schindler's List          (1993)         R  195 min     Biography, Drama, History          9.0  1,357,621     $96.90M\n14   15.0                                          Inception          (2010)     PG-13  148 min     Action, Adventure, Sci-Fi          8.8  2,356,293    $292.58M\n15   16.0  The Lord of the Rings: The Fellowship of the Ring          (2001)     PG-13  178 min      Action, Adventure, Drama          8.8  1,878,557    $315.54M\n16   17.0                                              Alien          (1979)         R  117 min                Horror, Sci-Fi          8.5    885,635     $78.90M\n17   18.0                                   Some Like It Hot          (1959)    Passed  121 min        Comedy, Music, Romance          8.2    269,346     $25.00M\n18   19.0                                       Blade Runner          (1982)         R  117 min         Action, Drama, Sci-Fi          8.1    773,425     $32.87M\n19   20.0                                              Se7en          (1995)         R  127 min         Crime, Drama, Mystery          8.6  1,655,745    $100.13M\n20   21.0                                     Apocalypse Now          (1979)         R  147 min           Drama, Mystery, War          8.5    669,994     $83.47M\n21   22.0                                       12 Angry Men          (1957)  Approved   96 min                  Crime, Drama          9.0    792,729      $4.36M\n22   23.0              The Lord of the Rings: The Two Towers          (2002)     PG-13  179 min      Action, Adventure, Drama          8.8  1,669,715    $342.55M\n23   24.0                         Terminator 2: Judgment Day          (1991)         R  137 min                Action, Sci-Fi          8.6  1,101,850    $204.84M\n24   25.0         Star Wars: Episode VI - Return of the Jedi          (1983)        PG  131 min    Action, Adventure, Fantasy          8.3  1,056,750    $309.13M\n25   26.0                                           Die Hard          (1988)         R  132 min              Action, Thriller          8.2    887,967     $83.01M\n26   27.0                                 Gone with the Wind          (1939)    Passed  238 min           Drama, Romance, War          8.2    317,621    $198.68M\n27   28.0                                        Taxi Driver          (1976)         R  114 min                  Crime, Drama          8.2    836,871     $28.26M\n28   29.0                                       Pulp Fiction          (1994)         R  154 min                  Crime, Drama          8.9  2,058,574    $107.93M\n29   30.0                       The Bridge on the River Kwai          (1957)        PG  161 min         Adventure, Drama, War          8.2    222,540     $44.91M\n30   31.0                                      The Lion King          (1994)         G   88 min   Animation, Adventure, Drama          8.5  1,060,900    $422.78M\n31   32.0                                 North by Northwest          (1959)  Approved  136 min    Action, Adventure, Mystery          8.3    330,232     $13.28M\n32   33.0                                        Rear Window          (1954)        PG  112 min             Mystery, Thriller          8.5    493,926     $36.76M\n33   34.0                             LÃ©on: The Professional          (1994)         R  110 min          Action, Crime, Drama          8.5  1,164,087     $19.50M\n34   35.0                                 Back to the Future          (1985)        PG  116 min     Adventure, Comedy, Sci-Fi          8.5  1,208,582    $210.61M\n35   36.0                                       Citizen Kane          (1941)        PG  119 min                Drama, Mystery          8.3    444,359      $1.59M\n36   37.0                                         Goodfellas          (1990)         R  145 min       Biography, Crime, Drama          8.7  1,164,128     $46.84M\n37   38.0                                            Memento          (2000)         R  113 min             Mystery, Thriller          8.4  1,241,252     $25.54M\n38   39.0                                    American Beauty          (1999)         R  122 min                         Drama          8.4  1,157,536    $130.10M\n39   40.0                                 As Good as It Gets          (1997)     PG-13  139 min        Comedy, Drama, Romance          7.7    301,756    $148.48M\n40   41.0                                       Forrest Gump          (1994)     PG-13  142 min                Drama, Romance          8.8  2,082,477    $330.25M\n41   42.0                                Singin' in the Rain          (1952)         G  103 min      Comedy, Musical, Romance          8.3    244,548      $8.82M\n42   43.0                                         Braveheart          (1995)         R  178 min     Biography, Drama, History          8.4  1,040,416     $75.60M\n43   44.0                                Saving Private Ryan          (1998)         R  169 min                    Drama, War          8.6  1,394,262    $216.54M\n44   45.0                                           Rain Man          (1988)         R  133 min                         Drama          8.0    517,528    $178.80M\n45   46.0                                  The King's Speech          (2010)         R  118 min     Biography, Drama, History          8.0    683,379    $138.80M\n46   47.0                              2001: A Space Odyssey          (1968)         G  149 min             Adventure, Sci-Fi          8.3    671,980     $56.95M\n47   48.0                                  Kill Bill: Vol. 1          (2003)         R  111 min          Action, Crime, Drama          8.2  1,119,120     $70.10M\n48   49.0                                            Avanti!          (1972)         R  144 min               Comedy, Romance          7.2     10,748      $3.30M\n49   50.0                     The Good, the Bad and the Ugly          (1966)  Approved  178 min            Adventure, Western          8.8    763,678      $6.10M\n50   51.0                                             AmÃ©lie          (2001)         R  122 min               Comedy, Romance          8.3    759,411     $33.23M\n51   52.0                                       Modern Times          (1936)         G   87 min        Comedy, Drama, Romance          8.5    244,162      $0.16M\n52   53.0                                Lost in Translation          (2003)         R  102 min                 Comedy, Drama          7.7    458,613     $44.59M\n53   54.0                                  Full Metal Jacket          (1987)         R  116 min                    Drama, War          8.3    745,546     $46.36M\n54   55.0                                Requiem for a Dream          (2000)         R  102 min                         Drama          8.3    845,362      $3.64M\n55   56.0                                         Fight Club          (1999)         R  139 min                         Drama          8.8  2,128,902     $37.03M\n56   57.0                             No Country for Old Men          (2007)         R  122 min        Crime, Drama, Thriller          8.2    977,336     $74.28M\n57   58.0                                   Django Unchained          (2012)         R  165 min                Drama, Western          8.4  1,557,890    $162.81M\n58   59.0                                    Children of Men          (2006)         R  109 min         Action, Drama, Sci-Fi          7.9    503,642     $35.55M\n59   60.0                                        Ratatouille          (2007)         G  111 min  Animation, Adventure, Comedy          8.1    741,322    $206.45M\n60   61.0                                The Lives of Others          (2006)         R  137 min      Drama, Mystery, Thriller          8.4    391,480     $11.29M\n61   62.0                                       The Prestige          (2006)     PG-13  130 min        Drama, Mystery, Sci-Fi          8.5  1,336,235     $53.09M\n62   63.0                                     V for Vendetta          (2005)         R  132 min         Action, Drama, Sci-Fi          8.2  1,125,038     $70.51M\n63   64.0                                          Chinatown          (1974)         R  130 min      Drama, Mystery, Thriller          8.2    329,110      $8.49M\n64   65.0                                        City of God          (2002)         R  130 min                  Crime, Drama          8.6    758,914      $7.56M\n65   66.0                               To Have and Have Not          (1944)    Passed  100 min  Adventure, Comedy, Film-Noir          7.8     35,528         NaN\n66   67.0                                              Fargo          (1996)         R   98 min               Crime, Thriller          8.1    681,256     $24.61M\n67   68.0                                         Life of Pi          (2012)        PG  127 min     Adventure, Drama, Fantasy          7.9    634,357    $124.99M\n68   69.0                                Slumdog Millionaire          (2008)         R  120 min         Crime, Drama, Romance          8.0    848,344    $141.32M\n69   70.0                                            Vertigo          (1958)        PG  128 min    Mystery, Romance, Thriller          8.3    404,626      $3.20M\n70   71.0                                      Trainspotting          (1996)         R   93 min                         Drama          8.1    690,138     $16.50M\n71   72.0                                       Interstellar          (2014)     PG-13  169 min      Adventure, Drama, Sci-Fi          8.6  1,835,790    $188.02M\n72   73.0                                          The Thing          (1982)         R  109 min       Horror, Mystery, Sci-Fi          8.2    428,474     $13.78M\n73   74.0                                      The Third Man          (1949)  Approved   93 min  Film-Noir, Mystery, Thriller          8.1    173,206      $0.45M\n74   75.0                                         12 Monkeys          (1995)         R  129 min     Mystery, Sci-Fi, Thriller          8.0    621,205     $57.14M\n75   76.0                                  Life Is Beautiful          (1997)     PG-13  116 min        Comedy, Drama, Romance          8.6    697,226     $57.60M\n76   77.0                                        The Pianist          (2002)         R  150 min       Biography, Drama, Music          8.5    834,842     $32.57M\n77   78.0                                           Magnolia          (1999)         R  188 min                         Drama          8.0    315,037     $22.46M\n78   79.0                              The Dark Knight Rises          (2012)     PG-13  164 min                 Action, Drama          8.4  1,708,002    $448.14M\n79   80.0         Star Wars: Episode VII - The Force Awakens          (2015)     PG-13  138 min     Action, Adventure, Sci-Fi          7.8    933,771    $936.66M\n80   81.0                The Hobbit: The Desolation of Smaug          (2013)     PG-13  161 min            Adventure, Fantasy          7.8    667,864    $258.37M\n81   82.0                                 Mad Max: Fury Road          (2015)         R  120 min     Action, Adventure, Sci-Fi          8.1  1,006,158    $154.06M\n82   83.0                                   12 Years a Slave          (2013)         R  134 min     Biography, Drama, History          8.1    703,824     $56.67M\n83   84.0                 Indiana Jones and the Last Crusade          (1989)     PG-13  127 min             Action, Adventure          8.2    758,057    $197.17M\n84   85.0                         O Brother, Where Art Thou?          (2000)     PG-13  107 min      Adventure, Comedy, Crime          7.7    315,173     $45.51M\n85   86.0                               Inglourious Basterds          (2009)         R  153 min         Adventure, Drama, War          8.3  1,453,288    $120.54M\n86   87.0                                       The Departed          (2006)         R  151 min        Crime, Drama, Thriller          8.5  1,328,252    $132.38M\n87   88.0                                   A Beautiful Mind          (2001)     PG-13  135 min              Biography, Drama          8.2    935,549    $170.74M\n88   89.0                                         District 9          (2009)         R  112 min      Action, Sci-Fi, Thriller          7.9    685,403    $115.65M\n89   90.0                                          The Piano          (1993)         R  121 min         Drama, Music, Romance          7.5     89,819     $40.16M\n90   91.0                                       Mystic River          (2003)         R  138 min         Crime, Drama, Mystery          7.9    459,918     $90.14M\n91   92.0                                        The Insider          (1999)         R  157 min    Biography, Drama, Thriller          7.8    172,759     $28.97M\n92   93.0                                  L.A. Confidential          (1997)         R  138 min         Crime, Drama, Mystery          8.2    585,555     $64.62M\n93   94.0                                               Heat          (1995)         R  170 min          Action, Crime, Drama          8.3    658,033     $67.44M\n94   95.0                                 The Usual Suspects          (1995)         R  106 min         Crime, Drama, Mystery          8.5  1,087,832     $23.34M\n95   96.0                                     Cool Hand Luke          (1967)        GP  127 min                  Crime, Drama          8.1    178,888     $16.22M\n96   97.0              Eternal Sunshine of the Spotless Mind          (2004)         R  108 min        Drama, Romance, Sci-Fi          8.3  1,011,004     $34.40M\n97   98.0                                        City Lights          (1931)         G   87 min        Comedy, Drama, Romance          8.5    186,059      $0.02M\n98   99.0                                         The Matrix          (1999)         R  136 min                Action, Sci-Fi          8.7  1,916,083    $171.48M"

In [7]:
df.isnull()

,index,movie_name,year_of_release,category,run_time,genre,imdb_rating,votes,gross_total
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
94,False,False,False,False,False,False,False,False,False
95,False,False,False,False,False,False,False,False,False
96,False,False,False,False,False,False,False,False,False
97,False,False,False,False,False,False,False,False,False
98,False,False,False,False,False,False,False,False,False

In [8]:
df.dtypes()

TypeError: 'Series' object is not callable

In [9]:
print(df.dtypes)

index              float64
movie_name          object
year_of_release     object
category            object
run_time            object
genre               object
imdb_rating        float64
votes               object
gross_total         object
dtype: object