In [1]:
import numpy as np
import pandas as pd
import math

In [2]:
df=pd.read_csv('exams.csv')

In [3]:
df

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group D,some college,standard,completed,59,70,78
1,male,group D,associate's degree,standard,none,96,93,87
2,female,group D,some college,free/reduced,none,57,76,77
3,male,group B,some college,free/reduced,none,70,70,63
4,female,group D,associate's degree,standard,none,83,85,86
...,...,...,...,...,...,...,...,...
995,male,group C,some college,standard,none,77,77,71
996,male,group C,some college,standard,none,80,66,66
997,female,group A,high school,standard,completed,67,86,86
998,male,group E,high school,standard,none,80,72,62
999,male,group D,high school,standard,none,58,47,45

In [4]:
s_values=df['math score'].sum()

In [5]:
c_values=df['math score'].count()

In [8]:
mean=s_values/c_values

In [9]:
print(mean)

67.81

In [10]:
np.sort(df['math score'])

array([ 15,  20,  21,  23,  24,  25,  27,  28,  28,  30,  30,  31,  31,
        32,  33,  33,  34,  34,  34,  34,  35,  35,  35,  35,  36,  36,
        36,  37,  37,  37,  37,  38,  38,  38,  38,  39,  39,  39,  39,
        39,  39,  40,  40,  41,  41,  41,  41,  41,  41,  41,  42,  42,
        42,  42,  42,  43,  43,  43,  43,  43,  43,  43,  44,  44,  44,
        44,  44,  44,  44,  44,  44,  44,  44,  44,  44,  45,  45,  45,
        45,  45,  45,  45,  45,  45,  45,  45,  46,  46,  46,  46,  46,
        46,  46,  46,  47,  47,  47,  47,  47,  47,  47,  47,  47,  47,
        48,  48,  48,  48,  48,  48,  48,  49,  49,  49,  49,  49,  49,
        49,  49,  49,  49,  50,  50,  50,  50,  50,  50,  50,  50,  50,
        50,  51,  51,  51,  51,  51,  51,  51,  51,  51,  51,  51,  51,
        51,  51,  52,  52,  52,  52,  52,  52,  52,  52,  52,  52,  52,
        52,  53,  53,  53,  53,  53,  53,  53,  53,  54,  54,  54,  54,
        54,  54,  54,  54,  54,  54,  54,  54,  54,  54,  54,  55,  55,
        55,  55,  55,  55,  55,  55,  55,  55,  55,  55,  55,  55,  55,
        55,  55,  55,  56,  56,  56,  56,  56,  56,  56,  56,  56,  56,
        56,  56,  56,  56,  56,  56,  56,  56,  56,  57,  57,  57,  57,
        57,  57,  57,  57,  57,  57,  57,  57,  57,  57,  57,  57,  57,
        57,  58,  58,  58,  58,  58,  58,  58,  58,  58,  58,  58,  58,
        58,  58,  58,  58,  58,  58,  58,  58,  58,  59,  59,  59,  59,
        59,  59,  59,  59,  59,  59,  59,  59,  59,  59,  59,  59,  59,
        59,  59,  59,  59,  59,  59,  59,  59,  59,  59,  59,  59,  60,
        60,  60,  60,  60,  60,  60,  60,  60,  60,  60,  60,  60,  60,
        60,  60,  60,  60,  60,  61,  61,  61,  61,  61,  61,  61,  61,
        61,  61,  61,  61,  61,  61,  61,  61,  61,  61,  61,  61,  61,
        61,  61,  61,  61,  61,  62,  62,  62,  62,  62,  62,  62,  62,
        62,  62,  62,  62,  62,  62,  62,  62,  62,  62,  62,  62,  62,
        62,  62,  62,  62,  62,  62,  62,  62,  62,  62,  62,  63,  63,
        63,  63,  63,  63,  63,  63,  63,  63,  63,  63,  63,  63,  63,
        63,  63,  63,  63,  63,  63,  64,  64,  64,  64,  64,  64,  64,
        64,  64,  64,  64,  64,  64,  64,  64,  64,  64,  64,  64,  64,
        64,  64,  64,  64,  64,  65,  65,  65,  65,  65,  65,  65,  65,
        65,  65,  65,  65,  65,  65,  65,  65,  65,  65,  65,  65,  65,
        65,  65,  65,  65,  65,  66,  66,  66,  66,  66,  66,  66,  66,
        66,  66,  66,  66,  66,  66,  66,  66,  66,  66,  66,  66,  66,
        67,  67,  67,  67,  67,  67,  67,  67,  67,  67,  67,  67,  67,
        67,  67,  67,  67,  67,  67,  67,  67,  67,  67,  67,  67,  67,
        67,  67,  67,  68,  68,  68,  68,  68,  68,  68,  68,  68,  68,
        68,  68,  68,  68,  68,  68,  68,  68,  68,  68,  68,  68,  68,
        68,  68,  68,  68,  68,  69,  69,  69,  69,  69,  69,  69,  69,
        69,  69,  69,  69,  69,  69,  69,  69,  69,  69,  69,  69,  69,
        69,  69,  69,  70,  70,  70,  70,  70,  70,  70,  70,  70,  70,
        70,  70,  70,  70,  70,  70,  70,  70,  70,  70,  70,  70,  70,
        71,  71,  71,  71,  71,  71,  71,  71,  71,  71,  71,  71,  71,
        71,  71,  71,  71,  71,  71,  71,  71,  72,  72,  72,  72,  72,
        72,  72,  72,  72,  72,  72,  72,  72,  72,  72,  72,  72,  72,
        72,  72,  72,  72,  72,  73,  73,  73,  73,  73,  73,  73,  73,
        73,  73,  73,  73,  73,  73,  73,  73,  73,  73,  73,  73,  73,
        73,  74,  74,  74,  74,  74,  74,  74,  74,  74,  74,  74,  74,
        74,  74,  74,  74,  74,  74,  74,  74,  74,  74,  74,  74,  74,
        74,  74,  74,  74,  74,  75,  75,  75,  75,  75,  75,  75,  75,
        75,  75,  75,  75,  75,  75,  75,  75,  75,  75,  75,  75,  75,
        75,  75,  75,  75,  76,  76,  76,  76,  76,  76,  76,  76,  76,
        76,  76,  76,  76,  76,  76,  76,  76,  76,  76,  76,  76,  76,
        77,  77,  77,  77,  77,  77,  77,  77,  77,  77,  77,  77,  77,
        77,  77,  77,  77,  77,  78,  78,  78,  78,  78,  78,  78,  78,
        78,  78,  78,  79,  79,  79,  79,  79,  79,  79,  79,  79,  79,
        79,  79,  79,  79,  79,  79,  79,  79,  79,  80,  80,  80,  80,
        80,  80,  80,  80,  80,  80,  80,  80,  80,  80,  80,  80,  80,
        80,  80,  80,  80,  80,  80,  81,  81,  81,  81,  81,  81,  81,
        81,  81,  81,  81,  81,  81,  81,  81,  81,  81,  81,  81,  81,
        81,  81,  81,  82,  82,  82,  82,  82,  82,  82,  82,  82,  82,
        82,  82,  82,  82,  82,  82,  82,  82,  82,  82,  82,  82,  82,
        82,  82,  82,  82,  83,  83,  83,  83,  83,  83,  83,  83,  83,
        83,  83,  83,  83,  83,  83,  83,  83,  83,  83,  83,  83,  83,
        83,  83,  83,  84,  84,  84,  84,  84,  84,  84,  84,  84,  84,
        84,  84,  84,  84,  84,  84,  84,  84,  84,  84,  85,  85,  85,
        85,  85,  85,  85,  85,  85,  85,  85,  85,  85,  86,  86,  86,
        86,  86,  86,  86,  86,  86,  86,  86,  87,  87,  87,  87,  87,
        87,  87,  87,  87,  87,  88,  88,  88,  88,  88,  88,  88,  88,
        88,  88,  88,  88,  88,  88,  88,  89,  89,  89,  89,  89,  89,
        89,  89,  89,  89,  89,  90,  90,  90,  90,  90,  90,  90,  90,
        90,  90,  90,  91,  91,  91,  91,  91,  91,  91,  91,  91,  92,
        92,  92,  92,  92,  92,  92,  92,  92,  92,  92,  93,  93,  93,
        93,  94,  94,  94,  94,  94,  94,  95,  95,  95,  96,  96,  96,
        96,  96,  96,  97,  97,  97,  97,  98,  98,  98,  98,  98,  99,
        99,  99,  99, 100, 100, 100, 100, 100, 100, 100, 100, 100])

In [11]:
middle_index=math.floor(c_values/2)

In [12]:
median=np.sort(df['math score'])[middle_index]

In [13]:
print(median)

68

In [15]:
max_value=np.sort(df['math score'])[-1]

In [16]:
print(max_value)

100

In [18]:
min_value=np.sort(df['math score'])[0]
print(min_value)

15

In [19]:
def max_value(variable):
    return np.sort(df[variable])[-1]

In [20]:
max_value('math score')

100

In [21]:
#median

In [22]:
def median_value(variable):
    middle_index=math.floor(c_values/2)
    return np.sort(df[variable])[middle_index]
median_value('math score')

68

In [23]:
df['math score'].std()

15.250195686235259

In [24]:
#standard deviation

In [25]:
def std_dev(variable):
    lst=[]
    for i in range(c_values):
        sigma=(df[variable][i]-mean)**2
        lst.append(sigma)
    return np.sqrt(sum(lst)/c_values)

In [26]:
std_dev('math score')

15.24256868116395

In [27]:
std_dev('reading score')

14.333012942155584

In [28]:
df.describe()

        math score  reading score  writing score
count  1000.000000    1000.000000    1000.000000
mean     67.810000      70.382000      69.140000
std      15.250196      14.107413      15.025917
min      15.000000      25.000000      15.000000
25%      58.000000      61.000000      59.000000
50%      68.000000      70.500000      70.000000
75%      79.250000      80.000000      80.000000
max     100.000000     100.000000     100.000000

In [29]:
def variance(data,ddof=0):
    n = len(data)
    mean = sum(data) / n
    return sum((x - mean) ** 2 for x in data) / (n - ddof)

def stdev(data):
    var = variance(data)
    std_dev = math.sqrt(var)
    return std_dev

In [30]:
variance(df['math score'])

232.33590000000012

In [31]:
stdev(df['math score'])

15.24256868116395